.scene-transition {
  width: 100%;
  height: 100%;
  transition: opacity 0.45s ease;
  opacity: 0;
}

.scene-transition.scene-entering {
  opacity: 1;
}

.scene-transition.scene-leaving {
  opacity: 0;
}
